# @author 肖肖雨歇
# 忽略编译后的二进制文件
*.exe
*.exe~
*.dll
*.so
*.dylib
picgo-lite-linux-*
picgo-lite-windows-*
picgo-lite-darwin-*

/storage/data.db
/storage/uploads/*
!/storage/uploads/.gitkeep

/web/node_modules/
/web/dist/
.DS_Store

# 忽略环境配置
.env