# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 忽略存储目录 (防隐私泄露)
storage/uploads/
storage/data.db*

# 忽略临时沙盒文件
temp*
picgo_lite_update_temp

# 忽略编译出的二进制主程序
picgo-lite
picgo-lite.exe
picgo-lite-*.old